# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Logs
*.log
logs.log

# Mac/OSX
.DS_Store

# Virtual environment
venv/
env/
.env

# Local database
instance/
*.db
*.sqlite3