<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Flask App{% endblock %}</title>
</head>
<body>
  {% with messages  = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <header>
    <h1>My User Manager</h1>
    <nav>
      <a href="{{ url_for('all_users') }}">All Users</a>
    </nav>
    <hr>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <hr>
    <p>Day 4 of Python Learning</p>
  </footer>
</body>
</html>
